@import '../shared/scss/shared.scss' ;


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #dcdcdc;

}
p{
    font-size: 12px;

    float: left;
    padding: 25px 5px 5px 0;
    @include phone-width{
        font-size: 8px;
        padding: 35px 5px 5px 0;
    }
    
}