@import '../shared/scss/shared.scss' ;


#title{
    padding: 20px 0;
    background: linear-gradient(to right, rgb(47, 41, 41) 58%,rgba(170,8,30,1) 100%);
    color: white;
    h2{
        font-family: 'Anton', sans-serif;
        margin: 0;
        padding: 0 40px;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: block;
    @include pc-width{
        display: grid;
        grid-template-columns: 35% 35% 30%;
    }
    .formArea{
        padding: 0 10px;
        h4{
            margin-top: 0;
        }
        
    }

    .sendBtnArea{
        padding: 10px 0;
        margin: auto;
        .btn{
            background-color: white;
            border: 1px solid silver;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            &:hover{
                background-color: rgb(236, 236, 236);
            }
        }
    }

    input{
        width: calc(100% - 36px);
        border-radius: 3px;
        box-shadow: none;
        min-height: 30px;
        padding: 0 15px;
        margin-bottom: 10px;
        border: 3px solid #ededed;
        &:focus {
            outline:0;
        }
    }
    textarea{
        padding: 10px 15px;
        height: calc(100% - 50px);
        box-shadow: none;
        min-height: 30px;
        margin-bottom: 10px;
        border: 3px solid #ededed;
        width: calc(100% - 36px);
        &:focus {
            outline:0;
        }
    }
   
}
