<div class="intro">
  <img src="assets/img/product/ISM09A-2_1024x1024.jpg" alt="">
  <div>
    <h4 >Model No. :ISM09A-2</h4>
    <p>
      <span  >
        Specification:
      </span>
      3V DC 9W
    </p>
    <p>
      <span  >
        Material:
      </span>
      Steel House w/ Black Finished</p>
    <p>
      <span  >
        Feature:
      </span>
      Strong Torque
    </p>
    <p>
      <span  >
        Loading Capacity:
      </span>
      20 LBS
    </p>
    <p>
      <span  >
        Certification:
      </span>
      CSA, UL, CE
    </p>
    
  </div>
</div>
