<div class="body_content">
  <div id="title">
    <h2>
      Products
    </h2>
  </div>
  
  
  <div class="container-fluid ">
    <div class="btn_group">
        <div #button_line id="button_line"></div>
        <button class="btn">MOTOR</button>
        <button class="btn">Infrared Burner</button>
        <button class="btn">Cast Stainless Burner</button>
        <button class="btn">Soft Flex</button>
        <button class="btn">Valve</button>
        <button class="btn">Accessories</button>
    </div>
    <div class="product-intro">
      <app-porducts-intro></app-porducts-intro>
      <app-porducts-intro></app-porducts-intro>
      <app-porducts-intro></app-porducts-intro>
      <app-porducts-intro></app-porducts-intro>
      <app-porducts-intro></app-porducts-intro>
      <app-porducts-intro></app-porducts-intro>
    </div>
  
  </div>

</div>

