@import '../../shared/scss/shared.scss' ;
#title{
    padding: 20px 0;
    background: linear-gradient(to right, rgb(47, 41, 41) 58%,rgba(170,8,30,1) 100%);
    color: white;
    h2{
        font-family: 'Anton', sans-serif;
        margin: 0;
        padding: 0 40px;
    }
}
.container-fluid{
    .btn_group{
        position: relative;
        .btn{
            cursor: pointer;
            &:focus {
                outline:0;
            }
            border: none;
            background-color: white;
            padding: 10px 20px;
            &:hover{
                background-color: #c7c6c4;
            }
        }
        #button_line{
            position: absolute;
            border-bottom: 1px solid #42413f;
            transition: 500ms;
        }
    }
    .product-intro{
        @include pc-width{
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
        }
    }
}


